h1 {
    color: #f6f6f6;
    font-family: 'Cabin', sans-serif;
}
h2 {
    color: white;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
body {
    background-color: #0a0a0a;
}


form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #1DA1F2;
    padding: 3.7em;
    block-size: 270px;
    border-radius: 11px;
}

form input {
    padding: 0.6em;

}
form input[type=submit] {
    font-family: 'Cabin', sans-serif;
    border-radius: 15px;
    border-color: #1DA1F2;
    width: 300px;

}
form input[type=password] {
    border-radius: 15px;
    border-color: #1DA1F2;
    width: 570px;
}
form input[type=text] {
    border-radius: 15px;
    border-color: #1DA1F2;
    width: 570px;
}
 ul {display: flex;
     flex-direction: row;
     gap: 50px;
 color: white;
 list-style: none;
     border-color: white;}
 ul li a{
     font-family: 'Cabin', sans-serif;
     font-size: 20px;
     color: white;
     text-decoration: none;

 }

.Twitter-nav {
    display: flex;
    flex-direction: row;
}

.block {
    display: block;
    width: 300px;
    border: none;
    background-color: #1DA1F2;
    color: #fffbfb;
    padding: 25px 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 100px;
}